@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f28;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(../src/assets/bg-texture.png);
}

/* General styling */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media queries for tablets  */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* Media queries for mobile phones  */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.3);
  width: max-content;

  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
#menu-toggle {
  display: none;
}

/* Nav Mobile */
@media (max-width: 768px) {
  nav {
    display: none;
  }
}

/* Header */
header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* Socials */

.Header__Socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  gap: 0.8rem;
  position: absolute;
  bottom: 3rem;
}

.Header__Socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* Image */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}
/* .me img{
    width: 25rem;
    height: 15rem;
} */

/* Scroll */

.scroll__down {
  right: -2.3rem;
  position: absolute;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Tablet*/

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* Mobile */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .Header__Socials,
  .scroll__down {
    display: none;
  }
}

/* About styling */

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  width: 100%;
  height: 100%;
}

.about__me-image:hover {
  transform: rotate(0deg);
  transition: var(--transition);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.about__icon {
  color: var(--color-primary);
  font-size: 1, 4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 1rem;
  font-weight: 600;
}

.about__card small {
  color: var(--color-light);
  font-size: 0.8rem;
}
.about__card small a {
  /* color: var(--color-light); */
  font-size: 0.8rem;
  font-weight: 600;
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* Mobile */

@media screen and (max-width: 600px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .about__me {
    width: 68%;
    margin: 0rem auto 3rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
}

/* Experience */
.container__experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.container__experience > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.container__experience > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.container__experience > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icons {
  margin-top: 6px;
}

@media screen and (max-width: 1024px) {
  .container__experience {
    grid-template-columns: 1fr;
  }

  .container__experience > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

/* Media queries for mobile phones  */

@media screen and (max-width: 600px) {
  .container__experience {
    gap: 1rem;
  }
  .container__experience > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}

/* Me */
#pics {
  padding: 2rem 1rem;
  text-align: center;
}

#pics h5 {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

#pics h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.pics__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.pics__container .images {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.pics__container .images .image {
  display: flex;
  gap: 1rem;
}

.pics__container .images .image img {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  scroll-snap-align: start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background 0.3s ease;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  #prevBtn,
  #nextBtn {
    display: none;
  }
}
/* Mobile Responsive */
@media (max-width: 768px) {
  .pics__container .images .image img {
    width: 80vw;
    height: 180px;
  }

  .nav-btn {
    font-size: 1.5rem;
    padding: 0.3rem 0.8rem;
  }
}

/* Contact */

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* Form styling */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Mobile */

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}

/* Footer */

footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}
/* Nav */

/* nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a i {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.5rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.4);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
} */
